@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme {
  --font-sans: 'Inter Tight', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-sans);

}

.hero-bg{
  background-image: url("/ZoilHeroBg.jpg");
  background-size: cover;
  background-position: center;
}



.visitbg{
  background-image: url("/visit.jpg");
  background-size: cover;
  background-position: center;
}

.animate-scroll {
  animation: scroll 70s linear infinite;
}


.pause-on-hover:hover .animate-scroll {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

